:root {
    --task-background-color: #f8f8f8;
}

main {
    border: 1px;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

dialog {
    border-width: 0px;
    border-radius: 5%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0;
    align-items: start;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Стили для контейнера задач */
#new_task_desk, #resolved_task_desk {
    min-height: 335px;
    width: 600px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0;
}

/* Стили для карточек задач */
#new_task_desk ul li, #resolved_task_desk ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    row-gap: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5%;
    background-color: var(--task-background-color);
}

/* Стили для кнопок */
button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    display: none;
}

.cross {
    align-self: end;
}

#create_new_task {
    align-self: center;
}

/* Стили для полей */

li label {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    row-gap: 10px;
}

textarea, input, input:focus-visible {
    outline: none;
    padding: 0;
    width: 100%;
    border-radius: 2px;
    border-width: 0;
    border-bottom-width: 1px;
    border-top-color: var(--task-background-color);
    border-right-color: var(--task-background-color);
    border-left-color: var(--task-background-color);
    background-color: var(--task-background-color);
}

li label input:focus-visible {
    border-bottom-color: black;
}

li label input:disabled {
    border-style: solid;
    color: black;
    border-bottom-color: #dbdbdb;
}

h1 {
    text-align: center;
    color: #333;
}

/* Темная тема */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode .task-container {
    background: #444;
}

body.dark-mode button {
    background-color: #007bff;
}

body.dark-mode button:hover {
    background-color: #0056b3;
}

/* Вспомогательные классы */
.scroll_lock {
    overflow: hidden;
}